<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Enter new password{% endblock title %}

{% block content %}

<style>
    table.password_table {
        border-collapse: separate;
        border-spacing: 7px;

    }

    table.password_table>tbody>tr>th {
        vertical-align: top;
    }
</style>
<form method="POST">
    <div class="h-100 p-5 bg-light border rounded-3" style="padding-top: 20px; height: 500px; margin: auto; width: 700px; opacity: .8;">
        <h1 class="display-4">Change Password</h1>
        {% csrf_token %}
        <table class="password_table">
            <thead>
                <tr>
                    <th colspan="2" style="text-align: left;">
                        Please enter your old password, for security's sake, and then enter your new password
                        twice so we can verify you typed it in correctly.
                    </th>
                </tr>
            </thead>
            {{ form.as_table }}
            <tfoot>
                <tr>
                    <td>
                        <button class="btn btn-primary ml-2" type="submit">Change my password</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>

{% endblock %}